PORTAL_BASE_URL=https://back-6gbricks.dedyn.io
AGENT_TOKEN=
POLL_INTERVAL_SECONDS=2
TELEMETRY_ENABLED=true
TRAFFIC_URL=
LATENCY_PROBE_SCOPE=auto

N9_CIDR=172.32.0.0/24
N6_CIDR=172.31.0.0/24
N9_INTERFACE=
N6_INTERFACE=
COUNTER_BACKEND=auto
CENTRAL_DN_FILTER_CIDR=
FLOW_CONTROLLER_URL=http://192.168.0.1:9090
FLOW_DIRECT_PATH=/flow/all/direct
FLOW_CHAIN_PATH=/flow/all/chain
CENTRAL_DN_LATENCY_TARGET=
