PORTAL_BASE_URL=https://back-6gbricks.dedyn.io
AGENT_TOKEN=
POLL_INTERVAL_SECONDS=2
TELEMETRY_ENABLED=true
TRAFFIC_URL=
LATENCY_PROBE_SCOPE=auto

# UPF-CN host settings
N9_CIDR=172.32.0.0/24
N6_CIDR=172.31.0.0/24
FLOW_CONTROLLER_URL=http://192.168.0.1:9090
FLOW_DIRECT_PATH=/flow/all/direct
FLOW_CHAIN_PATH=/flow/all/chain
CENTRAL_DN_LATENCY_TARGET=

# UPF-E host settings
# On UPF-E, override:
# N9_CIDR=172.32.1.0/24
# N6_CIDR=172.31.1.0/24
UPF_CN_N9_TARGET=172.32.0.134
EDGE_DN_LATENCY_TARGET=
