PORTAL_BASE_URL=https://back-6gbricks.dedyn.io
AGENT_TOKEN=
POLL_INTERVAL_SECONDS=2
TELEMETRY_ENABLED=true
TRAFFIC_URL=
LATENCY_PROBE_SCOPE=auto

N9_CIDR=172.32.1.0/24
N6_CIDR=172.32.1.0/24
N9_INTERFACE=eth0
N6_INTERFACE=eth0
COUNTER_BACKEND=auto
UPF_CN_N9_TARGET=172.32.0.134
UPF_E_N9_FILTER_CIDR=172.32.0.134/32
EDGE_DN_FILTER_CIDR=172.33.0.0/24
EDGE_DN_LATENCY_TARGET=
