PORTAL_BASE_URL=https://back-6gbricks.dedyn.io
AGENT_TOKEN=
POLL_INTERVAL_SECONDS=2
TELEMETRY_ENABLED=true
N9_CIDR=172.32.0.0/24
N6_CIDR=172.33.0.0/24
TRAFFIC_URL=

# UPF-CN host settings
FLOW_CONTROLLER_URL=http://192.168.0.1:9090
FLOW_DIRECT_PATH=/flow/all/direct
FLOW_CHAIN_PATH=/flow/all/chain
CENTRAL_DN_LATENCY_TARGET=

# UPF-E host settings
UPF_CN_N9_TARGET=
EDGE_DN_LATENCY_TARGET=
